<h3>{{ client.name }}</h3>
<p><strong>Address:</strong> {{ client.address }}</p>
<p><strong>Notes:</strong> {{ client.notes }}</p>

<h4>Jobs</h4>
<ul>
  {% for job in client.jobs.all %}
    <li>({{ job.date }})</li>
  {% empty %}
    <li>No jobs yet.</li>
  {% endfor %}
</ul>

<input type="number" name="payment" class="modal-payment-input" id='modal-payment-input' required>
<input type="date" name="date" class='modal-date-input' id="modal-date-input" required>
<button type="submit" class="modal-submit-button" id="modal-submit-button">Add Job</button>

